.header {
  text-align: center;
}
h1.header {
  padding: 20px;
  margin-top: 30px;
  text-transform: uppercase;
}
h2.header{
  margin-top: 10px;
  margin-bottom: 10px;
}
input{
  width: 20%;
  height: 30px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 14px;
  display: block;
  margin: 10px auto;
}
.pianist_container{
  padding:50px;
  width: 25%;
  box-sizing:border-box;
  display:inline-block;
  text-align: center;
  cursor: pointer;
  transition: all .5s ease;
  border: 1px solid rgba(50,50,50, .5);
  opacity: 0.85;
}
.pianist_container:hover{
  opacity: 1;
}
.pianist-wrapper{
  padding: 15px;
  line-height: 25px;
}
.pianist-name{
  text-align: center;
  margin-bottom: 20px;
}
.feedback_message{
  text-align: center;
  text-transform: uppercase;
}